[Unit]
Description=Fixer nodered
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /PATH TO YOUR FIXER.PY/fixer.py
[Install]
WantedBy=multi-user.target